@model MaleFashion.eCommerce.WebUI.Models.Entity.Product

@{
    ViewData["Title"] = "Edit";
}

@section cssplugins{
    <link rel="stylesheet" href="libs/multiply-image-input/imager.css" />
}

<h1 class="text-center">Edit</h1>

<h4 class="text-center">Product</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Images: </label>
                <div style="width: 600px;" class="imager-container" id="viewer1" name="files">
                    @foreach (ProductImage img in Model.ProductImages)
                    {
                        <label thumb-url="/assets/images/shop/@img.ImagePath" image-id="@img.Id" @(img.IsMain == true ? "checked" : "")></label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mb-5" style="margin-left: 25px;">
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>


@section jsplugins{
    <script src="libs/multiply-image-input/imager.js"></script>
    <script src="libs/multiply-image-input/jquery.image-input.js"></script>
}
@section js{
    <script>
        $('#viewer1').imgadd({
            tnWidth: '120px',
            tnHeight: '120px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });
    </script>
}