@model ShopViewModel

@{
    ViewData["Title"] = "Home";

    var brands = Model.DiscountProductViewModel.Select(b => new
    {
        // BrandId
        Id = b.BrandId,
        BrandName = b.Brand
    })
    .Distinct();

    // Projection
    var filteredDiffProducts = Model.DiscountProductViewModel.Select(d => new { d.ProductId, d.Price, d.PriceNew, d.CampaignTitle, d.Title, d.Discount, d.ProductImages, d.BrandId }).Distinct();
}

<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg"
             data-setbg="assets/images/index/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2030</h2>
                            <p>
                                A specialist label creating luxury essentials. Ethically
                                crafted with an unwavering commitment to exceptional
                                quality.
                            </p>
                            <a href="#" class="primary-btn">
                                Shop now <span class="arrow_right"></span>
                            </a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg"
             data-setbg="assets/images/index/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2030</h2>
                            <p>
                                A specialist label creating luxury essentials. Ethically
                                crafted with an unwavering commitment to exceptional
                                quality.
                            </p>
                            <a href="#" class="primary-btn">
                                Shop now <span class="arrow_right"></span>
                            </a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="assets/images/index/xbanner-1.jpg.pagespeed.ic.KmE-rIc0aQ.webp"
                             alt="" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="assets/images/index/xbanner-2.jpg.pagespeed.ic.ISE4yV86cs.webp"
                             alt="" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="assets/images/index/xbanner-3.jpg.pagespeed.ic.DPyiCAUR1d.webp"
                             alt="" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    @foreach (var item in brands)
                    {
                        <li data-filter=".brand-@item.Id">@item.BrandName</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @foreach (var item in filteredDiffProducts)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix brand-@item.BrandId">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="assets/images/shop/@item.ProductImages.FirstOrDefault(pi => pi.IsMain).ImagePath">
                            @if (item.CampaignTitle != null)
                            {
                                <span class="label" style="background-color: red;">@item.CampaignTitle</span>
                            }
                        </div>
                        <div class="product__item__text">
                            <h6>@item.Title.EllipseText(50)</h6>
                            @if (item.PriceNew != null)
                            {
                                <h5 style="text-decoration: line-through; color: grey;">$@item.Price</h5>
                                <h5>$@item.PriceNew</h5>
                            }
                            else
                            {
                                <h5>$@item.Price</h5>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@await Component.InvokeAsync("IndexBlog")