@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Or Forgot Password Sent</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="row vh-100 align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="alert alert-success text-center" role="alert">
                        Keçid linki uğurla mailinizə göndərildi!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
