@model ResetPasswordFormModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="row vh-100 align-items-center justify-content-center">
                <div class="col-md-6">
                    <form method="post" asp-action="ResetPassword">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label asp-for="Password">Password: </label>
                            <input type="password" id="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordConfirm">Password Confirm: </label>
                            <input type="password" id="passwordconfirm" asp-for="PasswordConfirm" class="form-control" />
                            <span asp-validation-for="PasswordConfirm"></span>
                        </div>
                        <input type="hidden" asp-for="Token" value="@Model.Token" />
                        <input type="hidden" asp-for="Email" value="@Model.Email" />
                        <button class="btn btn-success mt-2">Göndər</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
