@model MaleFashion.eCommerce.WebUI.Models.Entity.Team

@{
    ViewData["Title"] = "Edit";
}

@section css{
    <link rel="stylesheet" href="libs/single-image/jquery.image-input.css" />
}

<h1 class="text-center">Edit</h1>

<h4 class="text-center">Team</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>*@
            <image asp-caption="Team Image" asp-for="file" asp-path="/assets/images/about-us/@Model.ImagePath"></image>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamJobId" class="control-label"></label>
                <select asp-for="TeamJobId" class="form-control" asp-items="ViewBag.TeamJobId"></select>
                <span asp-validation-for="TeamJobId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mb-5 ms-2">
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>

@section js{
    <script src="libs/single-image/jquery.image-input.js"></script>
}

